body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contenedor {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-numero {
  height: 50px;
  width: 100px;
  margin: 20px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
}

.boton {
  height: 50px;
  width: 50px;
  font-size: 30px;
}
.mensaje {
  margin-left: 10px;
}
